.payment {
  width: 90%;
  margin: 0 auto 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem 4rem;
  border-radius: 12px;
}

.payment-details {
  line-height: 2;
  font-size: medium;
  color: #282c34;
  width: 25rem;
  margin: auto;
  padding: 0 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.copied {
  text-align: center;
  color: red;
  margin: 1rem 0 3rem;
}
@media screen and (max-width: 768px) {
  .payment {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem 0;
    border-radius: 12px;
    color: #282c34;
  }

  .payment-details {
    width: 100%;
    font-size: small;
  }
}
