.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tab-button {
  width: 20%;
  padding: 0.5rem 0;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  font-size: medium;
  margin: 0 2rem;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.tab-button:hover {
  background-color: transparent;
  border: 2px solid #282c34;
  color: black;
  font-weight: 600;
}

.tab-clicked {
  height: 8rem; /* Initial height */
  margin: 0;
  transition: height 2s ease-in-out, margin 0.5s ease-in-out; /* Smooth transition for height and margin */
}

.move-tab-content {
  margin: 0;
}

.active {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .App {
    width: 95%;
  }

  .tab-button {
    width: 37%;
    border: none;
    font-size: medium;
    margin: 0 1rem;
  }

  .tab-clicked {
    margin: 0 auto;
    /* transition: margin 2s ease-in-out; */
  }

  .active {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 600;
  }
}
